#### Conditional Statements and Loops

In [5]:
a =500
price=450
if price<= 500:
    print("Yes I will be able to buy")

Yes I will be able to buy

In [3]:
price<=500

True

In [6]:
850<=500

False

In [9]:
a =500

shirt_price=200
pant_price=500
coat_price=800

if coat_price <=a:
    print("Yes I will buy coat") 
elif pant_price < 500 :
    print("I will try to buy pant")
elif shirt_price < 500:
    print("I will try to buy shirt")
else:
    print("No I wont be able to buy")

I will try to buy shirt

In [13]:
a =500

shirt_price=200
pant_price=500
coat_price=800
my_size = 'M'
size_store = ['L','Xl','XXl','XXXl','M']
my_fav_clr = 'white'
store_clr = ['white','red','blue','black']


if coat_price <=a:
    print("Yes I will buy coat") 
elif pant_price < 500 :
    print("I will try to buy pant")
elif shirt_price < 500:
    print("Available under my budget")
    if my_size in size_store:
        print("I will try to buy shirt")
        if my_fav_clr in store_clr:
            print("Yes I will choose the colour")
        else:
            print("My fav clr is not available hence I'll move to another store")
    else:
        print("My size not available")
else:
    print("No I wont be able to buy")

Available under my budget
I will try to buy shirt
Yes I will choose the colour

In [17]:
course = ['DSM','DSA','JAVA','BIGDATA','DA']
price = 20000
mentor = "Sudhanshu Kumar"

if 'DSM' in course and price == 20000 and "Sudhanshu kumar" == mentor:
    print ("Yes I am doing this course")

In [22]:
course = ['DSM','DSA','JAVA','BIGDATA','DA']
price = 20000
mentor = "Sudhanshu Kumar"

if 'DSM' in course and price == 20000 and "Sudhanshu Kumar" == mentor :
    print ("Yes I am doing this course")

Yes I am doing this course

In [23]:
course_price = 20000


if 10000 <= course_price <= 15000:
    print("I will buy this course")
else:
    print("It's out of my budget")

It's out of my budget

In [29]:
user_name = "sudh"
password = "sudh@1234"

if user_name == input("Enter you username ") and password == input("Enter your password "):
    print("You have logged in successfully")
else:
    print("Enter correct username and password")

Enter you usernamesudh
Enter your passwordSudh@12334
Enter correct username and password

In [33]:
mobile_no = 1234567891
otp = 1234
if mobile_no == int(input("Enter your registered mobile number")):
    print("Yes you are a registered user")
    if otp ==int(input("Enter otp that we have sent on your registered number")):
        print("You have logged in successfully")
    else:
        print("Incorrect otp please enter correct otp")
else:
    print("you have not entered a valid mobile number")

Enter your registered mobile number1234567891
Yes you are a registered user
Enter otp that we have sent on your registered number1234
You have logged in successfully

In [1]:
mobile_no = {123456,234567,3456789,23432,43214,8373442}
otp = 1234
if int(input("Enter your registered mobile number :")) in mobile_no:
    print("Yes you are a registered user")
    if otp ==int(input("Enter otp that we have sent on your registered number :")):
        print("You have logged in successfully")
    else:
        print("Incorrect otp please enter correct otp")
else:
    print("you have not entered a valid mobile number")

Enter your registered mobile number :43214
Yes you are a registered user
Enter otp that we have sent on your registered number :1234
You have logged in successfully

### LOOP

In [5]:
L= [1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,10]
for i in L :
    i=i+2
    print(i,end=" ")

3 4 5 6 7 8 9 10 11 12 11 10 9 8 7 6 5 4 3 12

In [9]:
mobile_no = [123456,234567,3456789,23432,43214,8373442]
student_mob_no = 23432
student_details = {'mobile_no' : 23432, 'course' : ['dsa','dsm','big data']}


for i in mobile_no:
    print(i)
    if i == student_mob_no:
        print("Yes user is registered")
        if i == student_details['mobile_no']:
                   print("Yes student details are present in database")
                   print("course access to this user is ",student_details['course'])

123456
234567
3456789
23432
Yes user is registered
Yes student details are present in database
course access to this user is  ['dsa', 'dsm', 'big data']
43214
8373442

In [12]:
t = (1,2,3,4,5,6,"sudh","kumar")

for i in t:
    if type(i) == str:
        print(i)

sudh
kumar

In [14]:
t = (1,2,3,4,5,6,"sudh","kumar")
l1=[]
l2=[]

for i in t:
    if type(i)==int:
        l1.append(i)
    if type(i)==str:
        l2.append(i)
        
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
['sudh', 'kumar']

In [15]:
s ={3,4,5,6,77,8}
for i in s:
    print(i)

3
4
5
6
8
77

In [16]:
d = {"name":"sudh","class":["big data","data analytics","data science","dsa","architecture","system design"],"mob_no":7000000000,"email": "sudh_kumar@gmail.com"}

In [17]:
d

{'name': 'sudh',
 'class': ['big data',
  'data analytics',
  'data science',
  'dsa',
  'architecture',
  'system design'],
 'mob_no': 7000000000,
 'email': 'sudh_kumar@gmail.com'}

In [18]:
d.values()

dict_values(['sudh', ['big data', 'data analytics', 'data science', 'dsa', 'architecture', 'system design'], 7000000000, 'sudh_kumar@gmail.com'])

In [19]:
for i in d.values():
    print(i)

sudh
['big data', 'data analytics', 'data science', 'dsa', 'architecture', 'system design']
7000000000
sudh_kumar@gmail.com

In [20]:
for i in d.values():
    if type(i)==list:
        print(i)

['big data', 'data analytics', 'data science', 'dsa', 'architecture', 'system design']

In [22]:
for i in d.values():
    if type(i)==list:
        if 'system design' in i:
            print("Yes this mentor teaches system design")

Yes this mentor teaches system design

In [23]:
for i in d.values():
    if type(i)==list:
        for j in i:
            print(j)

big data
data analytics
data science
dsa
architecture
system design